{% extends 'base.html.twig' %}

{% block title %}About our shop!{% endblock %}

{% block body %}
 <h1> About us</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aspernatur consectetur debitis distinctio esse, incidunt ipsam magnam nisi obcaecati optio, praesentium sapiente tempore tenetur voluptas. Delectus deleniti eius ut.Aperiam assumenda consequatur doloremque, ea eos hic illo iste laborum natus nulla provident quia quisquam repellat unde vel? Alias architecto atque, consectetur iste molestias nisi quisquam repudiandae suscipit velit voluptatem.Dicta, sapiente, voluptatum. Animi assumenda at aut autem blanditiis commodi cum delectus earum eos excepturi, laborum laudantium libero maxime minima mollitia nihil nostrum officia, porro sint soluta temporibus totam vitae!Aliquam deleniti distinctio non quae quam quo recusandae similique tempora veniam! Adipisci aspernatur culpa cumque deserunt eius, esse est explicabo, incidunt laboriosam neque nostrum nulla, omnis pariatur perferendis sunt voluptates!Accusantium, aspernatur beatae cumque distinctio facere facilis illum, iste itaque quas quo sint tempora totam voluptates. Aperiam aspernatur beatae earum eveniet itaque magnam molestiae quos vel vitae! Culpa, delectus odit!
    </p>
{% endblock %}
