{% extends 'base.html.twig' %}

{% block title %}Последние поступления{% endblock %}

{% block body %}
    <div class="row">
       {{ include('products/_productsList.html.twig', {'products': products}) }}
    </div>



{% endblock %}
