{% extends 'base.html.twig' %}


{% block title %}Спасибо за заказ{% endblock %}



{% block body %}
 <h1 class="mt-5"><strong> Спасибо за заказ. Мы обязательно с Вами свяжемся.</strong></h1>
<br>
<p><a href="{{ path('default') }}"> Продолжить покупки </a></p>

{% endblock %}

