{% block subject  %}{% endblock %}

{% block body %}

    <h1> Заказ # {{ order.id }}</h1>

    <p>Вы оформили заказ №  {{ order.id }} . Полная стоимсоть : {{ order.amount | money }}</p>
{% endblock %}